* {
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(45deg, #ff0057, #2196f3);
  position: static;
  padding: 20px;
}

h1 {
display: flex;
background-color: #119ffd;
}

.Self-image {
  height: 95px;
  width: 70px;
  display: flex;
  background-image: url(../images/Image\ Self.jpg);
  justify-content: center;
  border: 2px solid #119ffd;
}

.hero-banner {
  display: flex;
  width: auto;
  height: 100px;
  background-image: url(../images/02-hero-bg.jpg);
  /* How to fit */
  justify-content: right;
  padding: 20px;
  align-items: flex-end;
}

h4 {
  background-color: #119ffd;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

.right {
  display: flex;
  position: relative;
  padding: 15px 30px;
  font-size: 16px;
  text-align: center;
}

#About_me, #Projects, #ContactB {
  box-shadow: inset;
  background: #119ffd;
  border-radius: 50px;
  margin: 10px;
}

#About_me:hover, #Projects:hover, #ContactB:hover {
  background-color: black;
}

a {
  text-decoration: none;
  color: white;
  padding: 10px;
}

.about-section {
  margin: 5px;
  display: flex;
}

.left_about, .right_about {
  padding: 10px;
  margin: 5px;
}

.left_about {
  display: flex;
  justify-content: center;
  flex: 20%;
}

.right_about {
  flex: 80%;
  border-left: 4px solid rgb(23, 116, 255);
}

.work-section {
  margin: 5px;
  display: flex;
}

.left_work, .right_work{
  margin: 5px;
}

.left_work{
  flex: 20%;
  display: flex;
  justify-content: center;
}

.right_work{
  flex: 80%;
  border-left: 4px solid rgb(23, 116, 255);
  margin: 5px;
  display: grid;
  border: 2px left orange;
}

.big-box, .splitbox1, .splitbox2 {
  margin: 5px;
}

.big-box{
  width: auto;
  height: 200px;
  padding: 0%;
  border: 4px solid aqua;
  display: flex ;
  justify-content: left;
  align-items: center;
  background-image: url(../images/YouTube.jpg);
}

.splitbox1 {
  width: auto;
  height: 100px;
  display: flex;
  margin: 5px;
}

.split1left, .split1right{
  padding: 0px;
  margin: 0px;
}

.split1left {
  margin-right: 5px;
  flex: 50%;
  border: 4px solid aqua;
  width: auto;
  height: auto;
  display: flex ;
  justify-content: left;
  align-items: center;
  background-image: url(../images/Netflix.jpg);
}

.split1right {
  margin-left: 5px;
  flex: 50%;
  border: 4px solid aqua;
  width: auto;
  height: auto;
  display: flex ;
  justify-content: left;
  align-items: center;
  background-image: url(../images/LinkedIn.png);
}
.worktag {
  font-size: small;
  display: flex;
  background-color: aqua;
  width: fit-content;
  color: white;
}
.splitbox2 {
  width: auto;
  height: 100px;
  display: flex;
  margin: 5px;
}

.split2left, .split2right{
  padding: 0px;
  margin: 0px;
}

.split2left {
  margin-right: 5px;
  flex: 50%;
  border: 4px solid aqua;
  width: auto;
  height: auto;
  display: flex ;
  justify-content: left;
  align-items: center;
  background-image: url(../images/Google.png);
}

.split2right {
  margin-left: 5px;
  flex: 50%;
  border: 4px solid aqua;
  width: auto;
  height: auto;
  display: flex ;
  justify-content: left;
  align-items: center;
  background-image: url(../images/Facebook.jpg); 
}

#YouTube:hover, #Netflix:hover, #LinkedIn:hover, #Google:hover, #Facebook:hover {
  box-shadow: inset;
  background-color: black;
  background-image: black;
  /* How to fix Hover */
}

.contact-section {
  margin: 5px;
  display: flex;
}

.left_contact, .right_contact{
  margin: 5px;
}

.left_contact{
  flex: 20%;
  display: flex;
  justify-content: center;
}

.right_contact{
  flex: 80%;
  display: flex;
  border-left: 4px solid rgb(23, 116, 255);
  justify-content: center;
  padding: 2px
}

#contactlinked, #ContactNO, #ContactMAIL  {
  color: blue;
}

.contactnumber, .contactmail, .contactlink {
  flex: 33%;
}

@media screen and (max-width: 768px) {
  main,
  nav {
    flex-direction: column;
  }
  main {
    max-width: 1200px;
  }
}